<div class="bg-light border-right" id="sidebar-wrapper">
    
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/addproduct">Dossier</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Planning et reservation</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Caisse</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Formation et cours</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">stock et inventaire</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">statistique</a>
    </div>
</div>