<div id="sidebar">
  <header>
    <a href="#">SmartVentes</a>
  </header>
  <ul class="nav">
    <li>
      <a routerLink="/listproduct">
        <i class="zmdi zmdi-view-dashboard" ></i> Produit
      </a>
    </li>
    <li>
      <a routerLink="/listfornisseurs">
      <i class="zmdi zmdi-link"></i> Fournisseur
      </a>
    </li>
    <li>
      <a routerLink="/listclients">
      <i class="zmdi zmdi-widgets"></i> Client
      </a>
    </li>
    <li>
      <a routerLink="/listusers">
      <i class="zmdi zmdi-widgets"></i> Utilisateurs
      </a>
    </li>
    
  </ul>
</div>