
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="listData" class="mat-elevation-z8">
  
  <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

  <ng-container matColumnDef="nom_court">
      <th mat-header-cell *matHeaderCellDef> nom court </th>
      <td mat-cell *matCellDef="let element"> {{element.nom_court}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="prix_de_bas">
      <th mat-header-cell *matHeaderCellDef> prix de bas </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="prix_de_vente">
      <th mat-header-cell *matHeaderCellDef> prix de vente </th>
      <td mat-cell *matCellDef="let element"> {{element.prix_de_vente}} </td>
  </ng-container>

  <ng-container matColumnDef="remise">
      <th mat-header-cell *matHeaderCellDef> remise </th>
      <td mat-cell *matCellDef="let element"> {{element.remise}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="quantite_initial">
      <th mat-header-cell *matHeaderCellDef> quantite_initial </th>
      <td mat-cell *matCellDef="let element"> {{element.quantite_initial}} </td>
  </ng-container>

  <ng-container matColumnDef="quantite_en_stock">
      <th mat-header-cell *matHeaderCellDef> quantite_en_stock </th>
      <td mat-cell *matCellDef="let element"> {{element.quantite_en_stock}} </td>
  </ng-container>
  <ng-container matColumnDef="Actions">
       <th mat-header-cell *matHeaderCellDef> Actions </th>
      <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
      <button mat-icon-button (click)="onDelete(rowi.id)" color="warm">
          <mat-icon>delete_outline</mat-icon>
      </button>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- 

<table class="table">
    <thead>
      <tr>
        <th scope="col">nom</th>
        <th scope="col">nom court</th>
        <th scope="col">prix de bas</th>
        <th scope="col">remise</th>
        <th scope="col">quantite initial</th>
        <th scope="col">quantite en stock</th>
        <th scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let p of listData'>
        <td scope="row">{{ p.nom }}</td>
        <td scope="col">{{ p.nom_court }}</td>
        <td scope="col">{{ p.prix_de_vente }} </td>
        <td scope="col">{{ p.remise }}</td>
    
        <td scope="col">{{ p.quantite_initial }}</td>
        <td scope="col">{{ p.quantite_en_stock }}</td>
        <td>
            <button type="button" class="btn btn-success" (click)="onEdit(p)">Edit</button>  
            <button type="button" class="btn btn-danger" (click)="onDelete(p)">delete</button>  
        </td>
      </tr>
   
    </tbody>
  </table> -->