<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item ">Produits</li>
</ol>
<div class="tab" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" routerLink="/listproduct" [routerLinkActive]="['active']">
      <a aria-controls="home" role="tab" data-toggle="tab">Produit</a>
    </li>
    <li role="presentation" routerLink="/listfornisseurs" >
      <a aria-controls="home" role="tab" data-toggle="tab">Fornisseur</a>
    </li>
    <li role="presentation" routerLink="/listclients" >
      <a aria-controls="home" role="tab" data-toggle="tab">Client</a>
    </li>
  </ul>
</div>
<div id="panel" class="panel panel-default">
  <div class="panel-heading">
    <h4>List des produits</h4>
  </div>
  <div class="panel-body">
    <div class="text-right">
      <button id="addbtn" routerLink="/addproduct" class="btn btn-primary">Ajouter Produit</button>
    </div>
    <table class="table table table-bordered">
      <thead>
        <tr>
          <th scope="col">nom</th>
          <th scope="col">nom court</th>
          <th scope="col">prix de bas</th>
          <th scope="col">remise</th>
          <th scope="col">quantite initial</th>
          <th scope="col">quantite en stock</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of listData'>
          <td scope="row">{{ p.nom }}</td>
          <td scope="col">{{ p.nom_court }}</td>
          <td scope="col">{{ p.prix_de_vente }} </td>
          <td scope="col">{{ p.remise }}</td>
          <td scope="col">{{ p.quantite_initial }}</td>
          <td scope="col">{{ p.quantite_en_stock }}</td>
          <td>
            <button id="editbutton" type="button" class="btn btn-default btn-sm" (click)="onEdit(p)">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(p.id)">delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>