<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item ">Utilisateurs</li>
  </ol>
  <div class="tab" role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" routerLink="/listusers" [routerLinkActive]="['active']">
          <a aria-controls="home" role="tab" data-toggle="tab">Utilisateurs</a>
        </li>
        <li role="presentation" routerLink="/adduser" >
          <a aria-controls="home" role="tab" data-toggle="tab">Ajouter utilisateur</a>
        </li>
       
    </ul>
  </div>
  <div id="panel" class="panel panel-default">
    <div class="panel-heading">
      <h4>List des utilisateurs</h4>
    </div>
    <div class="panel-body">
      <div class="text-right">
        <button id="addbtn" routerLink="/adduser" class="btn btn-primary">Ajouter Utilisateur</button>
      </div>
      <table class="table table table-bordered">
        <thead>
          <tr>
            <th scope="col">Identifiant</th>
            <th scope="col">Profil</th>
            <th scope="col">Date création</th>
            <th scope="col">Date Fin</th>
            <th scope="col">photo</th>
            <th scope="col">email</th>            
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let u of users'>
            <td scope="row">{{ u.identifiant }}</td>
            <td scope="col">{{ u.profil }}</td>
            <td scope="col">{{ u.date_creation }} </td>
            <td scope="col">{{ u.date_fin }}</td>
            <td scope="col">{{ u.photo }}</td>
            <td scope="col">{{ u.email }}</td>
            <td>
              <button id="editbutton" type="button" class="btn btn-default" (click)="onEdit(u)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="onDelete(u)">delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>