@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #343232;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #fff;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: black;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #7D7D7D;
}

#sidebar .nav{
  
}
#navcolor{
  background-color: #fff;
  margin-bottom: 0px;
  border-radius: 0;
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #454444;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #454444;
}

#sidebar .nav a i{
  margin-right: 16px;
}
.breadcrumb{
  background-color: #854E54;
  border-radius: 0;
 
}
.breadcrumb-item{
  color: white;
}
#panel{
    margin-right: 20px;
    margin-left: 20px;
}
#editbutton{
  margin-right: 5px !important;
}

.tab  .nav-tabs{
  border-bottom: 1px solid transparent;
  margin-bottom:1px;
}
.tab .nav-tabs > li{
  padding:0 20px;
}
.tab .nav-tabs > li a {
  font-size:14px;
  color:#808080;
}
.tab .nav-tabs > li a:hover,
.tab .nav-tabs > li.active > a{
  background:#fff;
  color: #FFAA56;
  padding-bottom:5px;
  border:1px solid transparent;
  border-bottom:2px solid #FFAA56;
}
.tab .tab-content{
  color:#5a5c5d;
  padding: 20px;
}
@media only screen and (max-width: 480px){
  .tab .nav-tabs > li{ width:100%; }
}